.navbar {
	display: flex;
	background-color: aqua;
	justify-content: space-around;
}

.categories {
	background-color: aqua;
	display: flex;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
