.navbar {
	display: flex;
	background-color: black;
	justify-content: space-around;
}

.categories {
	background-color:black;
	display: flex;
	
}

@tailwind base;
@tailwind components;
@tailwind utilities;
